{% load i18n %}
{% load admin_total_v2 %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<!-- <canvas id="canvas" width="400" height="400"></canvas> -->

{% if module.error %}
    <ul>
        <li>
            {{ module.error }}
        </li>
    </ul>

{% elif module.children %}

    <canvas id="myChart" width="400" height="400"></canvas>
    <!-- <p> {{ module.children.labels | js }}</p> -->
    <script type="text/javascript">
        // $('.dashboard-item-header-buttons').remove();
        var elems = document.getElementsByClassName("dashboard-item-header-buttons");
        // console.log(elems)
        for (var i = elems.length - 1; i >= 0; i--) {
            elems[i].remove();
        }
        // elem
    </script>
    <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ module.children.labels | js }},
                datasets: [

                    {
                        label: "Chiffre d'affaire TTC < 60 jours",
                        data: {{ module.children.liste_chiffre_affaire_vente | js }},
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 0.2)',
                        fill: true,
                    },
                ]
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>


{% else %}
    <ul>
        <li>
            {% trans "Nothing to show" %}
        </li>
    </ul>
{% endif %}