DJANGO_SECRET=''
FERNET_KEY=''

POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_DB='laboutik'

DOMAIN=''

# admin email
EMAIL=''

EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""

TIME_ZONE='Europe/Paris'
LANGUAGE_CODE='fr'

########## FOR CASHLESS ##########

# No Cashless if no Fedow nor Lespass tenant manager
FEDOW_URL='https://'
BILL_TENANT_URL='https://'

# The name of your asset
NOM_MONNAIE=''

########## FOR SAVE CRON TASK ##########

# can be empty if you don't backup
BORG_PASSPHRASE=""

########## FOR TEST AND DEBUG ONLY ##########

# Sentry Debug for django back
SENTRY_DNS=""
# Sentry Debug for front
SENTRY_FRONT_DNS=""

###!!!!!! Don't push to production with debug, test or demo !!!!!!###

DEBUG=0
TEST=0
DEMO=0

DEMO_TAGID_CM=''
DEMO_TAGID_CLIENT1=''
DEMO_TAGID_CLIENT2=''