{% load webviewTags %}
{% load i18n %}

<style>
.com-validate {
  height: 60px;
  padding: 4px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.com-article-no-display {
  display: none;
}
.com-show-article {
  display: flex;
}


</style>
{% with first_article=cmd.articles.0 %}
    <div class="com-legende-time-w BF-ligne">{{ first_article.date_time|time:"H:i" }}</div>
    <!-- articles -->
    <div class="com-legende-articles-w BF-col">
      {% for article in cmd.articles %}
        <div {% if cmd.articles|length > 1 and forloop.counter > 1 %} class="com-article-no-display com-article-display-{{ forloop.parentloop.counter }}" {% endif %}>
          <span>{{ article.qty|floatformat:0 }} x {{ article.article.name }}</span>
          {% if cmd.articles|length > 1 and forloop.counter == 1 %}
          <span onclick="commandShowArticles('com-article-display-{{ forloop.parentloop.counter }}')">....</span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="com-legende-prix-w BF-ligne">{{ cmd.total|floatformat:2 }}</div>
    <div class="com-legende-mpaiement-w BF-ligne">{{ first_article.moyen_paiement|translate }}</div>
    <div class="com-legende-update-mpaiement-w BF-ligne">
      <!-- espèces -->
      {% if first_article.pos.accepte_especes %}
      <div>{% trans 'Espèces' %}</div>
      {% endif %}
      <!-- cb -->
      {% if first_article.pos.accepte_carte_bancaire %}
      <div>{% trans 'CB' %}</div>
      {% endif %}
      <!-- chèque -->
      {% if first_article.pos.accepte_cheque %}
      <div>{% trans 'Chèque' %}</div>
      {% endif %}
      <!-- cashless -->
      <div>cashless</div>
      <!-- bt valider -->
       <button class="com-validate com-bt fond-ok coulBlanc">Valider</button>

    </div>
{% endwith %}

<script>
function commandShowArticles(cibles) {
  document.querySelectorAll('.' + cibles).forEach(ele => {
    ele.classList.toggle("com-show-article")
  })
}
</script>