{% load webviewTags %}
{% load i18n %}

<style>
.com-validate {
  height: 60px;
  padding: 4px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.custom-symbol {
  content: "\9662"; /* The actual character you might be thinking of */
}

</style>
{% with first_article=cmd.articles.0 %}
    <div class="com-legende-time-w BF-ligne">{{ first_article.date_time|time:"H:i" }}</div>
    <!-- articles -->
    <div class="com-legende-articles-w BF-col">
        {% for article in cmd.articles %}
            <div {% if forloop.counter > 1 %} style="display: none;" {% endif %}>
              <span></span>{{ article.qty|floatformat:0 }} x {{ article.article.name }}</span>
              <span>&#9662;  &#9728;</span>
            </div>
        {% endfor %}
    </div>
    <div class="com-legende-prix-w BF-ligne">{{ cmd.total|floatformat:2 }}</div>
    <div class="com-legende-mpaiement-w BF-ligne">{{ first_article.moyen_paiement|translate }}</div>
    <div class="com-legende-update-mpaiement-w BF-ligne">
      <!-- espèces -->
      {% if first_article.pos.accepte_especes %}
      <div>{% trans 'Espèces' %}</div>
      {% endif %}
      <!-- cb -->
      {% if first_article.pos.accepte_carte_bancaire %}
      <div>{% trans 'CB' %}</div>
      {% endif %}
      <!-- chèque -->
      {% if first_article.pos.accepte_cheque %}
      <div>{% trans 'Chèque' %}</div>
      {% endif %}
      <!-- cashless -->
      <div>cashless</div>
      <!-- bt valider -->
       <button class="com-validate com-bt fond-ok">Valider</button>

    </div>
{% endwith %}