{% extends 'base.html' %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Pk</th>
            <th>Detail</th>
            <th>update</th>
        </tr>
        </thead>
        <tbody>

        {% for product in products %}
            {% include 'tableau_produit/ligne_produit.html' %}
{#            {% include 'tableau_produit/ligne_edition_produit.html' %}#}
        {% endfor %}

        </tbody>

    </table>


    <div style="margin-top: 2em">
        <form method="post" action="">
            {% csrf_token %}
            <label>
                <input type="text" name="name" value="" placeholder="nouveau produit"/>
            </label>
            <button type="submit">Envoyer</button>
        </form>
    </div>

{% endblock %}