                        <button class="btn btn-validate"
                            hx-trigger="confirmed" onClick="readNfc()"
                            hx-post="/htmx/kiosk/refill_with_wisepos/"
                            hx-vals='js:{"totalAmount": totalAmount, "tag_id": this.tagId}'
{#                            hx-vals='js:{"totalAmount": 10, "tag_id": {{ demoTagIdClient1 }}}'#}
                            hx-target="#tb-kiosque" hx-swap="innerHTML"
                            >Valider <span id="totalAmount">0</span>€
                        </button>
<script>

function readNfc() {
  function listenTagId(event) {
    console.log('-> event.detail =', event.detail)
    Swal.clickConfirm()

    /*
    hx-swap="innerHTML"
    hx-trigger="confirmed"
                        hx-post="/htmx/kiosk/refill_with_wisepos/"
                        hx-vals='js:{"totalAmount": totalAmount, "tag_id": Swal.tagId}' hx-target="#tb-kiosque"
    */
     htmx.ajax('POST', '/htmx/kiosk/refill_with_wisepos/', {
      target: "#tb-kiosque",
      swap: "outerHTML",
      values: {totalAmount, tag_id: event.detail}
    })
  }
  document.body.addEventListener('nfcResult', listenTagId)

  console.log('-> readNfc totalAmount =', totalAmount, '  --  DEMO =', window.DEMO)
  if (totalAmount > 0) {
    Swal.fire({
      title: "Vous avez selectionné " + totalAmount + "€",
      html: "<p>Merci de scanner votre carte TiBillet sur le lecteur Sunmi.</p><p>⬆️⬆️⬆️⬆️⬆️⬆️⬆️</p><p>Le lecteur de carte est juste au dessus de cet écran</p>",
      showCancelButton: true,
      denyButtonText: `Don't save`,

        timer: 30000,
      timerProgressBar: true,
      // after the popup has been shown on screen
      didOpen: () => {
        Swal.showLoading()
        // La fenêtre vient de s'ouvrir, on lance la lecture RFID
        rfid.startLecture()
      },
      // when the popup closes by user
      willClose: () => {
     // La fenêtre se ferme (pour de multiple raison) stop lecteur NFC
        rfid.stopLecture()
        document.body.removeEventListener('nfcResult', listenTagId)
      }
    })
  }
  /*
  if (totalAmount > 0) {
    Swal.fire({
      title: "Vous avez selectionné " + totalAmount + "€",
      html: "<p>Merci de scanner votre carte TiBillet sur le lecteur Sunmi.</p><p>⬆️⬆️⬆️⬆️⬆️⬆️⬆️</p><p>Le lecteur de carte est juste au dessus de cet écran</p>",
      timer: 30000,
      timerProgressBar: true,
      // after the popup has been shown on screen
      didOpen: () => {
        Swal.showLoading()
        rfid.startLecture()
      },
      // when the popup closes by user
      willClose: () => {
      }
    }).then((result) => {
      // Read more about handling dismissals below
      console.log('-> result.dismiss =', result.dismiss)
      if (result.dismiss === Swal.DismissReason.timer) {
        clearAmount();
        console.log("I was closed by the timer");
      } else if (result.dismiss === Swal.DismissReason.cancel) {
        clearAmount();
        console.log("I was closed by the cancel button");
      } else {
        console.log("I was closed");
        if (window.DEMO !== undefined) {
            this.tagId = window.DEMO.demoTagIdClient1;
            console.log(this.tagId)
        }
        htmx.trigger(this, `confirmed`);
      }
    })
  }
*/
  // Swal.clickConfirm()
}
</script>
