<button class="btn btn-validate" id="scan_button" hx-post="/htmx/kiosk/refill_with_wisepos/"
    hx-vals='js:{"totalAmount": totalAmount, "tag_id": document.querySelector("#scan_button").getAttribute("tag-id")}'
    hx-target="#tb-kiosque" hx-swap="innerHTML" hx-trigger="confirmed" onClick="readNfc()">Valider <span
        id="totalAmount">0</span>€
</button>

<script>
    function readNfc(event) {
        // Store a reference to the button for later use
        const validateButton = document.querySelector('#scan_button');

        function listenTagId(event) {
            console.log('-> event.detail =', event.detail)
            validateButton.setAttribute('tag-id', event.detail)

            Swal.clickConfirm()
            htmx.trigger(validateButton, 'confirmed');
        }

        document.body.addEventListener('nfcResult', listenTagId)

        console.log('-> readNfc totalAmount =', totalAmount, '  --  DEMO =', window.DEMO)
        if (totalAmount > 0) {
            Swal.fire({
                title: "Vous avez selectionné " + totalAmount + "€",
                html: "<p>Merci de scanner votre carte TiBillet sur le lecteur Sunmi.</p><p>⬆️⬆️⬆️⬆️⬆️⬆️⬆️</p><p>Le lecteur de carte est juste au dessus de cet écran</p>",
                showCancelButton: true,
                cancelButtonText: `Annuler`,

                timer: 30000,
                timerProgressBar: true,
                // after the popup has been shown on screen
                didOpen: () => {
                    Swal.showLoading();
                    // La fenêtre vient de s'ouvrir, on lance la lecture RFID
                    rfid.startLecture();
                },
                // when the popup closes by user
                willClose: () => {
                    // La fenêtre se ferme (pour de multiple raison) stop lecteur NFC
                    rfid.stopLecture();
                    // document.body.removeEventListener('nfcResult', listenTagId);
                    // htmx.trigger(this, `confirmed`);
                }
            }).then((result) => {
                // Read more about handling dismissals below
                console.log('-> result.dismiss =', result.dismiss)
                if (result.dismiss === Swal.DismissReason.timer) {
                    clearAmount();
                    console.log("I was closed by the timer");
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    clearAmount();
                    console.log("I was closed by the cancel button");
                } else if (result.dismiss === Swal.DismissReason.backdrop) {
                    console.log("I was closed on external click");
                    if (window.DEMO !== undefined) {
                        validateButton.setAttribute('tag-id', window.DEMO.demoTagIdClient1)
                        htmx.trigger(validateButton, 'confirmed');
                    }
                }
            })
        }
        /*
                if (totalAmount > 0) {
                    Swal.fire({
                        title: "Vous avez selectionné " + totalAmount + "€",
                        html: "<p>Merci de scanner votre carte TiBillet sur le lecteur Sunmi.</p><p>⬆️⬆️⬆️⬆️⬆️⬆️⬆️</p><p>Le lecteur de carte est juste au dessus de cet écran</p>",
                        timer: 30000,
                        timerProgressBar: true,
                        // after the popup has been shown on screen
                        didOpen: () => {
                            Swal.showLoading()
                            rfid.startLecture()
                        },
                        // when the popup closes by user
                        willClose: () => {
                        }
                    }).then((result) => {
                        // Read more about handling dismissals below
                        console.log('-> result.dismiss =', result.dismiss)
                        if (result.dismiss === Swal.DismissReason.timer) {
                            clearAmount();
                            console.log("I was closed by the timer");
                        } else if (result.dismiss === Swal.DismissReason.cancel) {
                            clearAmount();
                            console.log("I was closed by the cancel button");
                        } else {
                            console.log("I was closed");
                            if (window.DEMO !== undefined) {
                                    this.tagId = window.DEMO.demoTagIdClient1;
                                    console.log(this.tagId)
                            }
                            htmx.trigger(this, `confirmed`);
                        }
                    })
                }
            */
        // Swal.clickConfirm()
    }
</script>