<div id="tb-kiosque" class="success-page" hx-swap-oob="true">
    <div class="container-fluid success-container">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 text-center">
                <h1 class="success-title">Réussite</h1>
                <div class="timer-container">
                    <p>Redirection dans <span id="countdown">15</span> secondes</p>
                </div>
                <div class="button-container">
                    <a href="/htmx/kiosk/" class="btn btn-return success-return">
                        Retour à l'accueil
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
