 <div class="BF-col-deb l100p h100p" style="font-size: 1.5rem">
    <!-- ajouter si-dessus -->
    <div class="BF-col settings-info-line">
      <label class="md16px">Server</label>
      <div id="settings-info-server"><!-- TODO: insérer server url --></div>
    </div>
    <div class="BF-col settings-info-line">
      <label class="md16px">User</label>
      <div id="settings-info-username"><!-- TODO: insérer user name appareil --></div>
    </div>
    <div class="BF-col settings-info-line">
      <label class="md16px">LaBoutik Ip</label>
      <div id="settings-info-ip"></div>
    </div>
    <div class="BF-col settings-info-line">
      <label class="md16px">LaBoutik version</label>
      <div id="settings-info-version-apk"></div>
    </div>
    <!-- ajouter si-dessous -->
  </div>