<div class="BF-col l100p h100p">
  <h1 data-i8n="selectLanguage,capitalize" style="color: #ffffff; margin-bottom: 4px;">Sélectionner une langue</h1>
  <h2 data-i8n="appWillBeRecharged" style="margin-top: 0; margin-bottom: 2rem">L'application sera rechargée.</h2>
  <div id="settings-language-list" class="BF-col" style="margin: 0 4rem;">

  </div>
  <div class="BF-ligne-entre">
    <bouton-basique traiter-texte="1" texte="VALIDER|1.5rem||validate-uppercase" couleur-fond="#339448"
      icon="fa-check-circle||2rem" width="240px" height="100px" onclick="changeLanguageAction();"
      style="margin: 8px;"></bouton-basique>
  </div>
</div>