{% load i18n humanize static %}

<!--
<div>
    <h1>Settings</h1>
    <h2>Coucou, voici ce qu'envoi le contexte ( htmxview.views.AppSettings.list )</h2>
    <ul>
        <li>currency_code : {{ currency_code }}</li>
        <li>validation_service_ecran : {{ validation_service_ecran }}</li>
        <li>remboursement_auto_annulation : {{ remboursement_auto_annulation }}</li>
        <li>void_card : {{ void_card }}</li>
        <li>cash_float : {{ cash_float }}</li>
        <li>timezone : {{ timezone }}</li>
        <li>language : {{ language }}</li>
    </ul>
</div>

<script>
    // pour récupérer ces valeurs en js :

    let currency_code = "{{ currency_code | safe }}"
    let validation_service_ecran = "{{ validation_service_ecran | safe }}"
    let remboursement_auto_annulation = "{{ remboursement_auto_annulation | safe }}"
    let void_card = "{{ void_card | safe }}"
    let cash_float = "{{ cash_float | safe }}"
    let timezone = "{{ timezone | safe }}"
    let language = "{{ language | safe }}"

    console.log('currency_code = ', currency_code)
    console.log('validation_service_ecran = ', validation_service_ecran)
</script>
-->

<div class="BF-ligne l100p h100p">
	<div class="BF-col-deb nav-settings">

		<div class="BF-col bt-settings">
			<i class="fas fa-info mb4px"></i>
			<span>Infos</span>
			<div class="target-settings" action="infos"></div>
		</div>

		<div class="BF-col bt-settings">
			<i class="fas fa-language mb4px"></i>
			<span>Language</span>
			<div class="target-settings" action="language"></div>
		</div>

		<div class="BF-col bt-settings">
			<i class="fas fa-stethoscope mb4px"></i>
			<span>Logs</span>
			<div class="target-settings" action="logs"></div>
		</div>

		<div id="nav-settings-bt-print-" class="BF-col bt-settings">
			<i class="fas fa-print mb4px"></i>
			<span>Printer</span>
			<div class="target-settings" action="printer"></div>
		</div>

		<div class="BF-col bt-settings">
			<i class="fas fa-times mb4px"></i>
			<span>Exit</span>
			<div class="target-settings" onclick="navigator.app.exitApp()"></div>
		</div>
	</div>
	<div class="BF-col-deb content-settings"></div>
</div>

<style>
	#service-commandes {
		--width-nav-settings: 20%;
		--height-bt-settings: 80px;
	}

	.nav-settings {
		width: var(--width-nav-settings);
		height: 100%;
		background-color: var(--bleu09);
		color: var(--blanc01);
		overflow-y: scroll;
		border-right: 1px solid var(--gris01);
	}

	.bt-settings {
		position: relative;
		width: 100%;
		height: var(--height-bt-settings);
		border-bottom: 1px solid var(--gris01);
		margin: 4px 0;
	}

	.target-settings {
		position: absolute;
		left: 0;
		top: 0;
		width: 98%;
		height: var(--height-bt-settings);
		opacity: 0;
	}

	.content-settings {
		width: calc(100% - var(--width-nav-settings));
		height: 100%;
		background-color: var(--bleu09);
		color: var(--blanc01);
		overflow-y: scroll;
		padding: 6px;
	}
</style>