{% load i18n %}
<style>
/* header */
.nav-com-htmx {
  display: flex;
  flex-direction: row;
  width: calc(100% - 120px);
  height: 100%;
}

.nav-com-htmx-titre {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

.nav-com-htmx-menu {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-right: 8px;
}

.com-legende, .com-content {
  width: 98%;
  margin: 0;
  padding: 4px;
  background-color: #171817;
}

.com-content {
  margin: 4px 0;
  background-color: #303130;
}

.com-legende-time-w {
  width: 10%;
}

.com-legende-articles-w {
  width: 30%;
}

.com-legende-prix-w {
  width: 10%;
}

.com-legende-mpaiement-w {
  width: 20%;
}

.com-legende-update-mpaiement-w {
  width: 30%;
}
</style>

<div class="BF-col">
  <!-- légende -->
  <div class="com-legende BF-ligne-deb mb4px">
    <div class="com-legende-time-w BF-ligne">&#8986; hh:mm</div>
    <div class="com-legende-articles-w BF-ligne">articles</div>
    <div class="com-legende-prix-w BF-ligne">{% trans 'prix' %}</div>
    <div class="com-legende-mpaiement-w BF-ligne">{% trans 'moyen de paiement' %}</div>
    <div class="com-legende-update-mpaiement-w BF-ligne">{% trans 'modifier moyen de paiement' %}</div>
  </div>

  {% for uuid_command, cmd in commands_today.items %}
  <form id="com-target-{{ uuid_command }}" class="com-content BF-ligne-deb mb4px">
    {% include "sales/components/order.html" %}
  </form>
  {% endfor %}
</div>