{% load i18n %}
<style>
/* header */
.nav-order-htmx {
  display: flex;
  flex-direction: row;
  width: calc(100% - 120px);
  height: 100%;
}

.nav-order-htmx-titre {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

.nav-order-htmx-menu {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-right: 8px;
}

.order-legende, .order-content {
  width: 98%;
  margin: 0;
  padding: 4px;
  background-color: #171817;
}

.order-content {
  margin: 4px 0;
  background-color: #303130;
}

.order-legende-time-w {
  width: 10%;
}

.order-legende-articles-w {
  width: 30%;
}

.order-legende-prix-w {
  width: 10%;
}

.order-legende-mpayment-w {
  width: 20%;
}

.order-legende-update-mpayment-w {
  width: 30%;
  justify-content: end;
}
</style>

<div class="BF-col">
  <!-- légende -->
  <div class="order-legende BF-ligne-deb mb4px">
    <div class="order-legende-time-w BF-ligne">&#8986; hh:mm</div>
    <div class="order-legende-articles-w BF-ligne">articles</div>
    <div class="order-legende-prix-w BF-ligne">{% trans 'prix' %}</div>
    <div class="order-legende-mpayment-w BF-ligne">{% trans 'moyen de payment' %}</div>
    <div class="order-legende-update-mpayment-w BF-ligne">{% trans 'modifier moyen de paiement' %}</div>
  </div>

  {% for uuid_command, cmd in commands_today.items %}
  <form id="order-target-{{ uuid_command }}" class="order-content BF-ligne-deb mb4px">
    {% include "sales/components/order.html" %}
  </form>
  {% endfor %}
</div>