<h1>All orders2</h1>
<div>mode_manage: {{ mode_manage}} - oldest_first: {{ oldest_first }}</div>
<style>
.mb10px {
  margin-bottom: 10px;
}
.mb6px {
  margin-bottom: 6px;
}

.com-grid {
  width: 98%;
  display: grid;
  grid-template-areas:
    "time space space status"
    "article  article article validate-article";
  grid-template-columns: 1fr 1fr 1fr 80px;
  grid-template-rows: 48px 1fr;
  font-size: 1rem;
  margin: 2px auto 60px auto;
  padding: 4px;
  border-radius: 8px;
  background-color: #4f504f;
  box-sizing: border-box;
  font-family: "Luciole-regular";
  --bg-com-title: #45494c;
}

.time {
  grid-area: time;
  background-color: var(--bg-com-title);
}

.space {
  grid-area: space;
  background-color: var(--bg-com-title);
}

.status{
  grid-area: status;
  background-color: var(--bg-com-title);
} 

.article {
  grid-area: article;
  padding-top: 4px;
}

.validate-article {
  grid-area: validate-article;
  padding-top: 4px;
}

.br-top-left8px {
  border-top-left-radius: 8px;
}

.br-top-right8px{
  border-top-right-radius: 8px;
}

.bg-com {
  background-color: #45494c;
}

/* supérieur à 600px */
@media screen and (min-width: 600px) {
  .com-grid {
    font-size: 2rem;
  }
}
</style>

<div class="BF-col">
  {% for cmd in orders %}
  <div uuid-cmd="{{ cmd.uuid }}" manager="{{ cmd.responssable_name }}" class="com-grid">
    <div class="time br-top-left8px BF-ligne-deb">{{ cmd.datetime }}</div>
    <div class="space"></div><div class="space"></div>
    <div class="status br-top-right8px BF-ligne">{{ cmd.statut }}</div>
    <div class="article BF-col-deb">
      {% for article in cmd.articles %}
      <div class="BF-ligne-deb">
        <div>{{ article.article.qty }}</div>
        <div>{{ article.article.name }}</div>
      </div>
      <!-- <p style="margin-bottom: 10px">{{ article.article }}</p> -->
      {% endfor %}
    </div>
    <!-- bt valider -->
    <div class="validate-article BF-col" uuid-cmd="{{ cmd.uuid }}">
      <div class="BF-col com-bt-valider-normal fond-ok test-action-validate-prepa" title="Validate preparation" onclick="restau.actionSurCommande('valider', 'normal', '{{  cmd.uuid }}', 1)">
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
