{% load i18n %}
<div class="order-sup-overflow-y">
    <!-- légende -->
    <header class="order__table-head">
        <div>Heure</div>
        <div>Quantité</div>
        <div>{% trans 'Prix' %}</div>
        <div class="order__method">{% trans 'Règlement' %}</div>
        <div>Détails</div>
    </header>
    <!-- ventes -->
    <div class="order-add-overflow-y">
        {% for uuid_command, cmd in commands_today.items %}
            <form id="order-target-{{ uuid_command }}" class="order__line" hx-post="/htmx/sales/change_payment_method/"
                  hx-target="#order-target-{{ uuid_command }}" hx-swap="innerHTML">
                {% include "sales/sales_detail.html" %}
            </form>
        {% endfor %}
    </div>
</div>

