{% load i18n humanize static ticketZtag %}

<div class="order-sup-overflow-y">
    <h2 id="responsable-title" style="text-align: center; margin: 1rem 0;"></h2>

    <table class="ticket">
        <tr>
            <th>{% trans 'Start' %}</th>
            <td>
                {{ start_date | format_iso_date }}<br/>
            </td>
        </tr>
        <tr>
            <th>{% trans 'End' %}</th>
            <td>
                {{ end_date | format_iso_date }}<br/>
            </td>
        </tr>

        <tr>
            <th>{% trans 'TOTAL sales only' %}</th>
            <td>{{ table_vente.TOTAL | floatformat:2 | default:0 }}{{ currency_to_show }}</td>
        </tr>

        <tr>
            <th colspan="2" style="text-align: center">{% trans "All entries, by payment method :" %}</th>
        </tr>


        {% for moyen_de_paiement, value in table_vente.items %}
            {% if value != 0 %}
                <tr>
                    <th>{% if forloop.last %}{% trans "TOTAL" %}{% else %}
                        {{ categories|getvalue:moyen_de_paiement }}{% endif %}</th>
                    <td>{{ value | floatformat:2 }}&nbsp;{{ currency_to_show }}</td>
                </tr>
            {% endif %}
        {% endfor %}

        {% if carte_primaire.edit_mode %}
            <tr>
                <th colspan="2" style="text-align: center">{% trans "Cash :" %}</th>
            </tr>

            <tr>
                <th>{% trans 'Cash float on opening' %}</th>
                <td>
                    <form id="change_cash_float" class="order__line"
                          hx-post="/htmx/sales/change_cash_float/"
                          hx-target="#sale_content" hx-swap="innerHTML"> {# the query returns the table z-ticket#}
                        <input name="cashfloat" class="ticket__input" type="number" step="0.01" size="6"
                               value="{{ fond_caisse }}"/>
                        <button class="ticket__btn" hx-indicator="#indicator-cash-float" type="submit">
                            {% trans 'Change the cash float' %}
                            <img id="indicator-cash-float" src="{% static 'htmxview/bars.svg' %}"
                                 class="htmx-indicator" alt=""/>
                        </button>

                    </form>
                </td>
            </tr>
            <tr>
                <th>{% trans 'Total cash' %}</th>
                <td>{{ total_cash }}</td>
            </tr>

            </table>

            <div class="order-sup-overflow-y">
                <div class="ticket__field">
                    {% trans "Imprimer un ticket temporaire" as print_temp_title %}

                    <button class="ticket__btn ticket__btn--secondary" type="button"
                            hx-get="/htmx/sales/print_temp_ticket"
                            hx-trigger='confirmed'
                            hx-target="#sale_content" hx-swap="innerHTML" {# the query returns the table z-ticket#}
                            onClick="Swal.fire({title: `{{ print_temp_title }}`, text:`De ce matin jusqu'a maintenant`}).then((result)=>{
                                    if(result.isConfirmed){
                                    htmx.trigger(this, 'confirmed');
                                    }
                                    })">
                        {% trans 'Print Temp Z Ticket' %}
                    </button>
                </div>

                <div class="ticket__field">
                    {% trans "Confirm the closing of cash registers" as confirm_title %}

                    <button class="ticket__btn ticket__btn--danger" type="button"
                            hx-get="/htmx/sales/close_all_pos"
                            hx-trigger='confirmed'
                            hx-target="#sale_content" hx-swap="innerHTML" {# the query returns the table z-ticket#}
                            onClick="Swal.fire({title: `{{ confirm_title }}`, text:`Do or do not, there is no try, young padawan.`}).then((result)=>{
                                    if(result.isConfirmed){
                                    htmx.trigger(this, 'confirmed');
                                    }
                                    })">
                        {% trans 'Close all cash registers' %}
                    </button>
                </div>
            </div>

            {# endif carte primaire#}
        {% endif %}

    {% for message in messages %}
        <script>
            console.log(`{{message}}`);
            Swal.fire({
                icon: '{{ message.tags }}', // Utilise les tags définis dans settings.py (success, error, warning, info)
                title: '{{ message }}',    // Affiche le contenu du message
                {#timer: 5000,              // Message disparaît après 5 secondes#}
                showConfirmButton: true  // Pas de bouton "OK"
            });
        </script>
    {% endfor %}

    <script src="{% static 'js/sweetalert.js' %}"></script>

</div>
