{% load i18n humanize %}
<style>
    .order__tabs {
        display: flex;
        justify-content: space-around;
        margin: 1rem;
    }

    .order__btn {
        background: #ccc;
        border: none;
        border-radius: .5rem;
        cursor: pointer;
        font-size: larger;
        padding: 1rem;
    }

	.ticket {
		border-collapse: collapse;
		margin: 1rem auto;
		max-width: 800px;
		width: 90%;

		tr + tr {
			border: none;
			border-top: 1px solid;
		}

		th, td {
			padding-block: 1.5rem;
		}

		th {
			text-align: left;
		}

		td {
			text-align: right;
		}
	}

	.ticket__field {
		display: flex;
		margin: 2rem auto 0;
		max-width: 800px;
		width: 90%;
	}

	.ticket__input {
        padding: .5rem .8rem;
		margin-inline-end: 1rem;
	}

    .ticket__btn {
        background: #ccc;
        border: none;
        border-radius: .5rem;
        cursor: pointer;
        padding: 1rem;
    }
	.ticket__btn--danger {
		background-color: darkred;
		color: white;
	}

    @media screen and (min-width: 960px) {
        .order__tabs {
            justify-content: space-evenly;
        }
    }
</style>

<nav class="order__tabs">
    <button class="order__btn" type="menu" hx-get="/htmx/sales?oldest_first=false"
            hx-target="#service-commandes">{% trans 'Commandes' %}</button>
    <button class="order__btn" type="menu" hx-get="/htmx/sales/z_ticket/" hx-target="#service-commandes">Z-Ticket
    </button>
</nav>

<div class="order-sup-overflow-y">
	<table class="ticket">
		<tr>
			<th>{% trans 'Début' %}</th>
			<td>
				{{ ticket_today.start_date | naturaltime }}<br />
				<small>{{ ticket_today.start_date }}</small>
			</td>
		</tr>
		<tr>
			<th>{% trans 'Fin' %}</th>
			<td>
				{{ ticket_today.end_date | naturaltime }}<br />
				<small>{{ ticket_today.end_date }}</small>
			</td>
		</tr>

		{% for moyen_de_paiement, value in ticket_today.dict_toute_entrees_par_moyen_paiement.items %}
		<tr>
			<th>{{ moyen_de_paiement }}</th>
			<td>{{ value | floatformat:2 }}&nbsp;€</td>
		</tr>
		{% endfor %}

		<tr>
			<th>{% trans 'Total' %}</th>
			<td>{{ ticket_today.total_TTC | floatformat:2 }}&nbsp;€</td>
		</tr>
		<tr>
			<th>{% trans 'Fond de caisse' %}</th>
			<td>{{ ticket_today.fond_caisse }}</td>
		</tr>
	</table>

	<form class="ticket__field">
		<input class="ticket__input" type="number" size="6" value="{{ ticket_today.fond_caisse }}" />
		<button class="ticket__btn" type="submit" >{% trans 'Modifier le fond de caisse' %}</button>
	</form>

	<div class="ticket__field">
		<button class="ticket__btn ticket__btn--danger" type="button" >{% trans 'Cloturer la caisse' %}</button>
	</div>
</div>
