<html>
<head>
    {% load static %}

    <meta charset="utf-8">
{#    <link href="invoice.css" media="print" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static 'invoice/invoice.css' %}"/>

    <title>Reçu d'adhésion</title>
    <meta name="description" content="Reçu d'adhésion">
</head>

<body>
<h1>Reçu d'adhésion</h1>

<aside>
    <address id="from">
        <strong>Bénéficiaire</strong>
        {{ config.structure }}
        {{ config.adresse }}
        {{ config.email }}
    </address>

    <address id="to">
        <strong>Contributeur</strong>
        {{ membre.name }} {{ membre.prenom }}
        {{ membre.email }}
    </address>
</aside>

<dl id="informations">
    <dt>Numéro d'adhésion</dt>
    <dd>{{ uuid4 }}</dd>
    <dt>Date</dt>
    <dd>{{ adhesion.date_time }}</dd>
</dl>

<table>
    <thead>
    <tr>
        <th>Description</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Sous total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ adhesion.article.name }}</td>
        <td>{{ adhesion.prix | floatformat:2  }} €</td>
        <td>{{ adhesion.qty }}</td>
        <td>{{ adhesion.total | floatformat:2  }} €</td>
    </tr>
    </tbody>
</table>

<table id="total">
    <thead>
    <tr>
        <th>Payée par</th>
        <th>Transaction</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ adhesion.moyen_paiement }}</td>
        <td>{{ uuid4 }}</td>
        <td>{{ adhesion.total | floatformat:2  }} €</td>
    </tr>
    </tbody>
</table>
<h4></h4>
</body>
</html>
