{% load static %}
<script src="{% static 'webview/js/htmx@2.0.3.min.js' %}"></script>
<script src="{% static 'webview/js/htmx-ext-ws@2.0.3.js' %}"></script>

<div class="container">
    <div id="pos">
        Point de vente : {{ pos.name }}
    </div>
    <div id="tpe">
        Appareil : {{ request.user.uuid.hex }}
    </div>

    <div hx-ext="ws" ws-connect="/ws/tpe_stripe/{{ request.user.uuid.hex }}/">
        <div id="notification">
        </div>

        <div id="message">
        </div>

        <form id="form" ws-send>
            <input name="amount" type="number" step="0.01">
            <button type="submit">Envoyer</button>
        </form>
    </div>
</div>
