{% load static %}
<script src="{% static 'webview/js/htmx@2.0.3.min.js' %}"></script>
<script src="{% static 'webview/js/htmx-ext-ws@2.0.3.js' %}"></script>
Point de vente : {{ pos.name }}

<div hx-ext="ws" ws-connect="/ws/tuto_htmx/{{ pos.channel }}/">
    <div id="notification">
    </div>

    <div id="message">
    </div>

    <form id="form" ws-send>
        <input id="message2" name="message">
        <input id="valider" type="submit" value="valider" style="display:none;">
    </form>
</div>
<button onclick="document.querySelector('#message2').value='hahahhaah';document.querySelector('#valider').click();">test</button>