{% extends 'base/base.html' %}
{% block content %}

    {% load static %}

    <div class="center-text" id="lastPage">

        <div>
            <div class="row">
            <div class="col-10">
                <h2> Congratulation, your card is been charged!</h2>
                <h2> You have now {{ card.amount }} euros in your wallet</h2>
            </div>


            <div class="col-10"
                 hx-get="index/"
                 hx-trigger="load delay:7s"
                 hx-target="#lastPage"
                 hx-swap="outerHTML"
            >
            </div>

        </div>
        </div>
    
    </div>


{% endblock content %}
