 {% extends 'base/base.html' %}
{% block content %}

    {% load static %}

    <div class="center-text">

        <div class="row">
            <div class="col-10">
                <h2> You can insert yur bills in the device!</h2>
            </div>


            <div class="col-10"
                 hx-post="recharge_paiment_pg/"
                 hx-include="this"
                 hx-trigger="load delay:4s"
                 hx-target="this"
            >
                <input type="hidden" id="uuidPaiment" name="uuid" value="{{ uuid }}"/>
                <input type="hidden" id="totalPaiment" name="total" value="{{ total }}"/>
                <input type="hidden" id="choiceAmount" name="choice_amount" value="{{ paiment_choice.choice_amount }}"/>
                <input type="hidden" id="deviceAmount" name="device_amount" value="{{ paiment_choice.device_amount }}"/>
                <input type="hidden" id="paimentUuid" name="paiment_uuid" value="{{ paiment_choice.uuid }}"/>

                
                
{#                <input type="hidden" id="uuidFlask" name="uuid" value="{{ uuid }}"/>#}
{#                <input type="hidden" id="totalFlask" name="total" value="{{ total }}"/>#}
            </div>

        </div>
    
    </div>

<script>
        
</script>



{% endblock content %}
