{% extends 'base/base.html' %}
{% block content %}

    {% load static %}

{# <div hx-get="http://127.168.0.103:6997/open_device/"#}
{#     hx-trigger="load"#}
{# ></div>#}

<div id="paimentPg">
    <div class="center-text">

        <div class="row">
            <div class="col-10">
                <h2> You can insert yur bills in the device!</h2>
            </div>
        </div>
        {% if not paiment_complete %}
        <div class="row"
             hx-get="api/card/return_device/"
             hx-trigger="every 1s"
             hx-target="this"
        >
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
