{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div id="mainPage">
    
        

        <div class="center-text" id="main_page">
            <div class="row">
                {% if message %}
                <div class="col-12"
                     hx-get="index/"
                     hx-trigger="load  delay:4s"
                     hx-target="#mainPage"
                     hx-swap="outerHTML"
                >
                    <h4 style="color: red">{{ message }}</h4>
                </div>
                    {% else %}
                <div class="col-12">
                    <h1>Welcome, please scan your wristband to check or refille your wallet</h1>
                </div>
                {% endif %}


            </div>
        </div>

        <div
             hx-get="index/"
             hx-trigger="load  delay:0.8s"
             hx-target="#mainPage"
             hx-swap="outerHTML"
        >
        </div>

{#        <div hx-get="http://127.0.0.2:6997/test/" hx-trigger="load"></div>#}

    </div>

<script>
        var startTime = new Date('{{ scan_time|date:"c" }}');
        var timeoutDuration = 10; // Duration in seconds before redirecting

        function checkTime() {
            var now = new Date();
            var elapsedSeconds = Math.floor((now - startTime) / 1000);

            if (elapsedSeconds >= timeoutDuration) {
                window.location.href = 'https://laboutik.tibillet.localhost/kiosk/press_start/'; // Redirect to main page
            } else {
                setTimeout(checkTime, 1000); // Check again in 1 second
            }
        }
    
</script>
    

{% endblock content %}
