{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div id="mainPage">
    
        

        <div class="center-text" id="main_page">
            <div class="row">
                {% if message %}
                <div class="col-12"
                     hx-get="index/"
                     hx-trigger="load  delay:4s"
                     hx-target="#mainPage"
                     hx-swap="outerHTML"
                >
                    <h4 style="color: red">{{ message }}</h4>
                </div>
                    {% else %}
                <div class="col-12">
                    <h1>Welcome, please scan your wristband to check or refille your wallet</h1>
                </div>
                {% endif %}


            </div>
        </div>

        <div
             hx-get="index/"
             hx-trigger="load  delay:0.4s"
             hx-target="#mainPage"
             hx-swap="outerHTML"
        >
        </div>

    </div>

<script>
    
</script>
    

{% endblock content %}
