<div>
    <span>Bonjour {{ organisation }}.</span>
</div>
<br/>

<div>
    <span>Vous trouverez ci-joint un rapport complet et le Ticket Z simplifié de votre point de vente TiBillet pour les dates du {{ start }} au {{ end }}.</span>
</div>
<div>
    <span>Les fichiers sont au format pdf et html.</span>
</div>
<div>
    <span>Le format html peut être ouvert avec votre navigateur (Firefox, Chrome, etc ... ), mais aussi avec un tableur (Testé sur Libre Office).</span>
</div>

<br/>

<div>
    <span>Si vous avez des questions, des remarques ou des idées, n'hésitez pas à venir discuter avec nous, nous adorons vos retours qui nous permettent d'améliorer notre outil libre !</span>
</div>

<br/>

<div><a href="mailto:contact@tibillet.org">contact@tibillet.org</a></div>
<div><a href="https://tibillet.org">https://tibillet.org</a></div>
<div><a href="https://discord.gg/7FJvtYx">Discord</a></div>
<div><a href="https://github.com/TiBillet">Github</a></div>
