<!DOCTYPE html>

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Ticket Z {{ start_date }}</title>
    <style>
        {
            font-family: sans-serif
        ;
        }

        .content {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .content thead tr {
            background-color: #1B1464;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }

        .content th,
        .content td {
            padding: 12px 15px;
        }

        .content tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .content tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .content tbody tr:last-of-type {
            border-bottom: 2px solid #1B1464;
        }

        .content tbody tr.r {
            font-weight: bold;
            color: #1B1464;
        }
    </style>
</head>
<body>
{% language 'en' %}
<h1>{% trans "Ticket Z Simplifié" %}</h1>
<h1><span class="test-tenant">{{ structure }}</span></h1>
<h3>Début : {{ start_date }}</h3>
<h3>Fin : {{ end_date }}</h3>


<div id="total_vente">
    <h2>{% trans "Total des ventes par moyen de paiement" %}</h2>
    <span>{% trans "Ne comprend pas les recharges cashless." %}</span>
    <table class="content">
        <thead>
        <tr>
            <th>{% trans "Nom" %}</th>
            <th>{% trans "Total vente" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for nom, total in dict_moyenPaiement_euros.items %}
            <tr class="test-item1-mp">
                <td class="test-item1-mp-nom">{{ nom }}</td>
                <td class="test-item1-mp-total">{{ total | floatformat:2 }}€</td>
            </tr>
        {% endfor %}
        {#TOTAL#}
        <tr style="border-top: 2px solid #1B1464; ">
            <th>TOTAL HT</th>
            <td class="test-items1-mp-total">{{ total_HT | floatformat:2 }}€</td>
        </tr>
        <tr>
            <th>{% trans "TVA" %}</th>
            <td class="total-taux-collecte">{{ total_collecte_toute_tva | floatformat:2 }}€</td>
        </tr>
        <tr style="border-bottom: 2px solid #1B1464; ">
            <th>TOTAL TTC</th>
            <td class="test-items1-mp-total">{{ total_TTC | floatformat:2 }}€</td>
        </tr>
        {% for nom, total in dict_moyenPaiement_gift.items %}
            <tr class="test-item2-mp">
                <td class="test-item2-mp-nom">{{ nom }}</td>
                <td class="test-item2-mp-total">{{ total | floatformat:2 }}€</td>
            </tr>
        {% endfor %}
        <tr style="border-top: 2px solid #1B1464; ">

            <th>TOTAL Offert</th>
            <td class="test-items2-mp-total">{{ total_gift_by_mp | floatformat:2 }}€</td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>

    </table>

</div>


<div id="tva">
    <h2>{% trans "TVA Collectée par taux" %}</h2>
    <table class="content">
        <thead>
        <tr>
            <th>{% trans "Vente à taux" %}</th>
            <th>{% trans "HT" %}</th>
            <th>{% trans "TVA" %}</th>
            <th>{% trans "TTC" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for taux, ventes in dict_TVA_complet.items %}
            <tr class="test-item-tau">
                <td class="test-item-tau-type">{{ taux | floatformat:2 }}%</td>
                <td class="test-item-tau-type-collecte">{{ ventes.ht | floatformat:2 }}€</td>
                <td class="test-item-tau-type-collecte">{{ ventes.tva | floatformat:2 }}€</td>
                <td class="test-item-tau-type-collecte">{{ ventes.ttc | floatformat:2 }}€</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        {#TOTAL#}
        <tr>
            <th>{% trans "TOTAL" %}</th>
            <td class="total-taux-collecte">{{ total_collecte_ht | floatformat:2 }}€</td>
            <td class="total-taux-collecte">{{ total_collecte_tva | floatformat:2 }}€</td>
            <td class="total-taux-collecte">{{ total_collecte_ttc | floatformat:2 }}€</td>
        </tr>
        </tfoot>
    </table>

</div>



<div id="fond_caisse">
    <h2>{% trans "Fond de caisse espèce" %}</h2>
    <table class="content">
        <thead>
        <tr>
            <th>{% trans "Espèces" %}</th>
            <th>{% trans "Total" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="test-item-fond-caisse">
            <td class="test-item-fond-caisse-nom">{% trans "Fond de caisse" %}</td>
            <td class="test-item-fond-caisse-total">{{ fond_caisse | floatformat:2 }}€</td>
        </tr>
        <tr class="test-item-fond-caisse">
            <td class="test-item-fond-caisse-nom">{% trans "Recharge cashless en espèce" %}</td>
            <td class="test-item-fond-caisse-total">{{ recharge_cash | floatformat:2 }}€</td>
        </tr>
        <tr class="test-item-fond-caisse">
            <td class="test-item-fond-caisse-nom">{% trans "Fond de caisse " %}Remboursement cashless en espèce</td>
            <td class="test-item-fond-caisse-total">{{ remboursement_espece | floatformat:2 }}€</td>
        </tr>
        <tr class="test-item-fond-caisse">
            <td class="test-item-fond-caisse-nom">{% trans "Adhésion en espèce" %}</td>
            <td class="test-item-fond-caisse-total">{{ adhesion_espece | floatformat:2 }}€</td>
        </tr>
        <tr class="test-item-fond-caisse">
            <td class="test-item-fond-caisse-nom">{% trans "Vente directe en espèce" %}</td>
            <td class="test-item-fond-caisse-total">{{ ventes_directe_espece | floatformat:2 }}€</td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="test-item-fond-caisse">
            <th>{% trans "TOTAL CAISSE :" %}</th>
            <td class="test-item-fond-caisse-totaux">{{ total_cash | floatformat:2 }}€</td>
        </tr>
        </tfoot>
    </table>
</div>


<div id="recharge_cashless">
    <h2 class="test-nom-monnaie"> {% trans "Recharge Cashless"%} {{ nom_monnaie }}</h2>
    <table class="content">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th colspan="2">{% trans "Recharge" %}</th>
        </tr>
        {% for nom, total in dict_moyenPaiement_recharge.items %}
            <tr class="test-item-recharge">
                <td class="test-item-recharge-nom">{{ nom }}</td>
                <td class="test-item-recharge-total">{{ total | floatformat:2 }}€</td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="2">{% trans Remboursement %}</th>
        </tr>
        {% for nom, total in dict_moyenPaiement_remboursement.items %}
            <tr class="test-item-remboursement">
                <td class="test-item-remboursement-nom">{{ nom }}</td>
                <td class="test-item-remboursement-total">{{ total | floatformat:2 }}€</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        {#TOTAL#}
        <tr>
            <th>TOTAL</th>
            <td class="test-item-recharge-cashless-total">{{ total_cashless | floatformat:2 }}€</td>
        </tr>
        </tfoot>
    </table>
</div>


<div id="recap_toute_entree">
    <h2>{% trans "Total toutes entrées par moyen de paiement" %}</h2>
    <h3>{% trans "Vente + Recharge + Adhésion" %}</h3>
    <table class="content">
        <thead>
        <tr>
            <th>{% trans "Moyen de paiements toutes entrées" %}</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for name, valeur in dict_toute_entrees_par_moyen_paiement.items %}
            <tr class="test-item-fond-caisse">
                <td class="test-item-fond-caisse-total">{{ name }}</td>
                <td class="test-item-fond-caisse-total">{{ valeur | floatformat:2 }}€</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="contact">
    {% trans "Rapport généré par l'outil libre et coopératif" %} <a href="https://tibillet.org">https://tibillet.org</a>.
</div>
<div>
    {% trans "Si vous pensez à des améliorations, n'hésitez pas à nous contacter, on adore ça :)" %}
</div>
{% endlanguage %}
</body>
</html>