<style type="text/css">.tg {
	border-collapse:collapse;
	border-spacing:0;white-space:nowrap;
tr:hover {
          background-color: #ffff99;
        }
}
.tg td{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
	overflow:hidden;
	padding:10px 20px;
	word-break:normal;
    table-layout: fixed;

}
.tg th{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	overflow:hidden;
	padding:10px 20px;
	word-break:normal;
    table-layout: fixed;
}
.tg .tg-cly1{
	text-align:left;
	vertical-align:middle;
    min-width:200px;
}
.tg .tg-smol{
	text-align:center;
	vertical-align:middle;
	min-width:150px;  
}
.tg .tg-smold{
	text-align:center;
	vertical-align:middle;
    font-weight:bold;
	min-width:150px;  
}
.tg .tg-smoldcolor{
	color:#F00;
	text-align:center;
	vertical-align:middle;
    font-weight:bold;
	min-width:150px;
}
.tg .tg-smolcolor{
	color:#00B050;
	text-align:center;
	vertical-align:middle;
	min-width:150px;    
}
.tg .tg-titregrasope{
	text-align:left;
	vertical-align:middle;
    font-weight:bold;
	min-width:340px;    
    max-width:340px;
}
.tg .tg-titrespecial{
	text-align:left;
	vertical-align:middle;
    font-weight:bold;
	min-width:440px;    
    max-width:440px;
}
.tg .tg-titreope{
	text-align:left;
	vertical-align:middle;
	min-width:340px;   
    max-width:340px;
}
.tg .tg-titreopegris{
	background-color:#F2F2F2;
	text-align:right;
	vertical-align:middle;
	min-width:340px;     
    max-width:340px;
}
.tg .tg-titreopegrisdlarge{
	background-color:#F5F5F5;
	text-align:left;
	vertical-align:middle;
	min-width:1800px;    
}
.tg .tg-datasimple{
	text-align:center;
	vertical-align:middle
}
.tg .tg-datapositif{
	color:#00B050;
	text-align:center;
	vertical-align:middle
}
.tg .tg-datapositifbig{
	color:#00B050;
	text-align:center;
	vertical-align:middle;
	min-width:340px;      
}
.tg .tg-datanegatifbig{
	color:#F00;
	text-align:center;
	vertical-align:top;
	min-width:340px;   
}
.tg .tg-datanegatifgrasbig{
	color:#F00;
	text-align:center;
    font-weight:bold;
	vertical-align:top;
	min-width:340px;   
}
.tg .tg-datapositifgrasbig{
	color:#00B050;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	min-width:340px;  
}
.tg .tg-datapositifd{
	color:#00B050;
	text-align:right;
	vertical-align:middle
}
.tg .tg-datanegatif{
	color:#F00;
	text-align:center;
	vertical-align:top
}
.tg .tg-datanegatifd{
	color:#F00;
	text-align:right;
	vertical-align:top
}
.tg .tg-datanegatifgras{
	color:#F00;
	text-align:center;
    font-weight:bold;
	vertical-align:top
}
.tg .tg-datanegatifgrasd{
	color:#F00;
	text-align:right;
    font-weight:bold;
	vertical-align:top
}
.tg .tg-datapositifgras{
	color:#00B050;
	font-weight:bold;
	text-align:center;
	vertical-align:middle
}
.tg .tg-datapositifgrasd{
	color:#00B050;
	font-weight:bold;
	text-align:right;
	vertical-align:middle
}
.tg .tg-titrelong{
	text-align:left;
	vertical-align:middle;
    min-width:340px;
    max-width:340px;
}
.tg .tg-titregrisgras{
	background-color:#E7E6E6;
	font-weight:bold;
	text-align:left;
	vertical-align:middle;
    min-width:340px;
    max-width:340px;
}
.tg .tg-orangegrastitre{
	background-color:#FCE4D6;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
    min-width:100px;  
}
.tg .tg-orangetitre{
	background-color:#FCE4D6;
	text-align:center;
	vertical-align:middle;
    min-width:300px;  
}
.tg .tg-bleugrastitre{
	background-color:#D9E1F2;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
    min-width:100px;  
}
.tg .tg-bleutitre{
	background-color:#D9E1F2;
	text-align:center;
	vertical-align:middle;
    min-width:400px; 
}
.tg .tg-violetgrastitre{
	background-color:#EDE0FC;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
    min-width:100px;  
}
.tg .tg-violettitre{
	background-color:#EDE0FC;
	text-align:center;
	vertical-align:middle;
    min-width:200px; 
}
.tg .tg-vertgrastitre{
	background-color:#E1FFE1;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
    min-width:100px;  
}
.tg .tg-verttitre{
	background-color:#E1FFE1;
	text-align:center;
	vertical-align:middle;
    min-width:200px;  
}
.tg .tg-jaunegrastitre{
	background-color:#FFFFC1;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;    
    min-width:100px;      
}
.tg .tg-jaunetitre{
	background-color:#FFFFC1;
	text-align:center;
	vertical-align:middle;    
    min-width:200px; 
}
.tg .tg-cyangrastitre{
	background-color:#D8F0F8;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;    
    min-width:100px; 
}
.tg .tg-cyantitre{
	background-color:#D8F0F8;
	text-align:center;
	vertical-align:middle;    
    min-width:100px;
}
.tg .tg-rosegrastitre{
	background-color:#FFCDEB;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
    min-width:100px;
}
.tg .tg-rosetitre{
	background-color:#FFCDEB;
	text-align:center;
	vertical-align:middle;
    min-width:200px;      
}
.tg .tg-dataorange{
	background-color:#FCE4D6;
	text-align:right;
	vertical-align:middle    
}
.tg .tg-datableu{
	background-color:#D9E1F2;
	text-align:right;
	vertical-align:middle
}
.tg .tg-dataviolet{
	background-color:#EDE0FC;
	text-align:right;
	vertical-align:middle    
}
.tg .tg-datavert{
	background-color:#E1FFE1;
	text-align:right;
	vertical-align:middle    
}
.tg .tg-datajaune{
	background-color:#FFFFC1;
	text-align:right;
	vertical-align:middle    
}
.tg .tg-datacyan{
	background-color:#D8F0F8;
	text-align:right;
	vertical-align:bottom    
}
.tg .tg-datarose{
	background-color:#FFCDEB;
	text-align:right;
	vertical-align:middle    
}
.tg .tg-dataorangegras{
	background-color:#FCE4D6;
	font-weight:bold;
	text-align:right;
	vertical-align:middle    
}
.tg .tg-datableugras{
	background-color:#D9E1F2;
	font-weight:bold;
	text-align:right;
	vertical-align:middle 
}
.tg .tg-datavioletgras{
	background-color:#EDE0FC;
	font-weight:bold;
	text-align:right;
	vertical-align:middle 
}
.tg .tg-datavertgras{
	background-color:#E1FFE1;
	font-weight:bold;
	text-align:right;
	vertical-align:middle 
}
.tg .tg-datajaunegras{
	background-color:#FFFFC1;
	font-weight:bold;
	text-align:right;
	vertical-align:middle
}
.tg .tg-datacyangras{
	background-color:#D8F0F8;
	font-weight:bold;
	text-align:right;
	vertical-align:bottom    
}
.tg .tg-datarosegras{
	background-color:#FFCDEB;
	font-weight:bold;
	text-align:right;
	vertical-align:middle
}
.tg .tg-datagrisgras{
	background-color:#E7E6E6;
	font-weight:bold;
	text-align:right;
	vertical-align:middle    
    

}
</style>
<table class="tg"><thead>
  <tr>
    <th class="tg-smol" colspan="1">LIEUX :</th>
    <th class="tg-smol" colspan="1"></th>
    <th class="tg-smol" colspan="1">DATE :</th>
    <th class="tg-smol" colspan="1"></th>
  </tr></thead>
<tbody>
      <table class="tg"><thead>
    <br>
  <tr>
    <td class="tg-smol" colspan="1">SORTIE DE CAISSE N°</td>
    <td class="tg-smol" colspan="1"></td>
  </tr>
    </tbody></table>
  </tr></thead>
      <table class="tg"><thead>
    <br>
  <tr>
    <td class="tg-smold" colspan="4">POINT DE VENTE</td> 
    <td class="tg-smoldcolor" colspan="2" rowspan="2">SOLDE DE CAISSE</td>
  </tr>
  <tr>
    <td class="tg-smol"colspan="2">Responsable :</td>
    <th class="tg-smol" colspan="2"></th>
  </tr>
  <tr>
    <td class="tg-smol" colspan="2">Point de vente :</td>
    <th class="tg-smol" colspan="2"></th>
    <td class="tg-smolcolor" colspan="2" rowspan="1">159,00 €</td>
  </tr>
    </tbody></table>


      <table class="tg"><thead>
    <br>
  <tr>
    <td class="tg-smold"colspan="6">SESSION</td>
  </tr>
  <tr>
    <td class="tg-smol"colspan="2">Session n° : </td>
    <th class="tg-smol" colspan="4"></th>
  <tr>
    <td class="tg-smol" colspan="2">Ouverte le :</td>
    <th class="tg-smol" colspan="4"></th>
  </tr>
  <tr>
    <td class="tg-smol" colspan="2">Fermée le : </td>
    <th class="tg-smol" colspan="4"></th>
  </tr>
    </tbody></table>


      <table class="tg"><thead>
    <br>
  <tr>
    <td class="tg-titregrasope" colspan="5">SYNTHÈSE DES OPÉRATIONS</td>
    <td class="tg-titreopegris" colspan="2">Carte Bancaire</td>
    <td class="tg-titreopegris" colspan="2">Cashless</td>
    <td class="tg-titreopegris" colspan="2">Espèces</td>
    <td class="tg-titreopegris" colspan="2">En ligne</td>
    <td class="tg-titreopegris" colspan="2">Chèque</td>
    <td class="tg-titreopegris" colspan="2">MONTANT</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="5">Ventes</td>
    <td class="tg-datasimple" colspan="2">65,00 €</td>
    <td class="tg-datasimple" colspan="2">0,00 €</td>
    <td class="tg-datasimple" colspan="2">10,00 €</td>
    <td class="tg-datasimple" colspan="2">0,00 €</td>
    <td class="tg-datasimple" colspan="2">20,00 €</td>
    <td class="tg-datapositif" colspan="2">95,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="5">Recharges</td>
    <td class="tg-datasimple" colspan="2">5,00 €</td>
    <td class="tg-datasimple" colspan="2">-</td>
    <td class="tg-datasimple" colspan="2">12,00 €</td>
    <td class="tg-datasimple" colspan="2">18,00 €</td>
    <td class="tg-datasimple" colspan="2">-</td>
    <td class="tg-datanegatif" colspan="2">-14,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="5">Adhésions</td>
    <td class="tg-datasimple" colspan="2">0,00 €</td>
    <td class="tg-datasimple" colspan="2">0,00 €</td>
    <td class="tg-datasimple" colspan="2">20,00 €</td>
    <td class="tg-datasimple" colspan="2">0,00 €</td>
    <td class="tg-datasimple" colspan="2">0,00 €</td>
    <td class="tg-datapositif" colspan="2">19,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="5">Consignes</td>
    <td class="tg-datasimple" colspan="2">-</td>
    <td class="tg-datasimple" colspan="2">14,00 €</td>
    <td class="tg-datasimple" colspan="2">14,00 €</td>
    <td class="tg-datasimple" colspan="2">-</td>
    <td class="tg-datasimple" colspan="2">-</td>
    <td class="tg-datanegatif" colspan="2">-15,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="5">Retours consignes</td>
    <td class="tg-datasimple" colspan="2">-</td>
    <td class="tg-datasimple" colspan="2">5,00 €</td>
    <td class="tg-datasimple" colspan="2">-5,00 €</td>
    <td class="tg-datasimple" colspan="2">-</td>
    <td class="tg-datasimple" colspan="2">-</td>
    <td class="tg-datapositif" colspan="2">35,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="5">Remboursements</td>
    <td class="tg-datasimple" colspan="2">-</td>
    <td class="tg-datasimple" colspan="2">-</td>
    <td class="tg-datasimple" colspan="2">-10,00 €</td>
    <td class="tg-datasimple" colspan="2">-4,00 €</td>
    <td class="tg-datasimple" colspan="2">-</td>
    <td class="tg-datapositif" colspan="2">20,00 €</td>
  </tr>
  <tr>
    <td class="tg-titregrasope" colspan="5">TOTAL</td>
    <td class="tg-datapositifgras" colspan="2">70,00 €</td>
    <td class="tg-datapositifgras" colspan="2">19,00 €</td>
    <td class="tg-datapositifgras" colspan="2">41,00 €</td>
    <td class="tg-datapositifgras" colspan="2">14,00 €</td>
    <td class="tg-datapositifgras" colspan="2">20,00 €</td>
    <td class="tg-datapositifgras" colspan="2">140,00 €</td>
  </tr>
    </tbody></table>


      <table class="tg"><thead>
    <br>
  <tr>
    <td class="tg-titregrasope" colspan="6">VENTES</td>
    <td class="tg-titreopegris" colspan="5">MONTANT</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Carte bancaire</td>
    <td class="tg-datapositif" colspan="5">65,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Cashless</td>
    <td class="tg-datapositif" colspan="5">0,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Espèces</td>
    <td class="tg-datapositif" colspan="5">10,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Tibillet (en ligne)</td>
    <td class="tg-datapositif" colspan="5">0,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Chèque</td>
    <td class="tg-datapositif" colspan="5">20,00 €</td>
  </tr>
  <tr>
    <td class="tg-titregrasope" colspan="6">TOTAL</td>
    <td class="tg-datapositifgras" colspan="5">95,00 €</td>
  </tr>
    </tbody></table>


      <table class="tg"><thead>
    <br>
  <tr>
    <td class="tg-titregrasope" colspan="6">RECHARGES</td>
    <td class="tg-titreopegris" colspan="5">MONTANT</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Carte bancaire</td>
    <td class="tg-datapositif" colspan="5">5,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Espèces</td>
    <td class="tg-datapositif" colspan="5">12,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">En ligne</td>
    <td class="tg-datapositif" colspan="5">18,00 €</td>
  </tr>
  <tr>
    <td class="tg-titregrasope" colspan="6">TOTAL</td>
    <td class="tg-datapositifgras" colspan="5">35,00 €</td>
  </tr>
    </tbody></table>


      <table class="tg"><thead>
    <br>
  
  <tr>
    <td class="tg-titregrasope" colspan="6">ADHÉSIONS</td>
    <td class="tg-titreopegris" colspan="5">MONTANT</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Carte bancaire</td>
    <td class="tg-datapositif" colspan="5">0,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Cashless</td>
    <td class="tg-datapositif" colspan="5">0,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Espèces</td>
    <td class="tg-datapositif" colspan="5">20,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">En ligne</td>
    <td class="tg-datapositif" colspan="5">0,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Chèque</td>
    <td class="tg-datapositif" colspan="5">0,00 €</td>
  </tr>
  <tr>
    <td class="tg-titregrasope" colspan="6">TOTAL</td>
    <td class="tg-datapositifgras" colspan="5">20,00 €</td>
  </tr>
    </tbody></table>


      <table class="tg"><thead>
    <br>
  <tr>
    <td class="tg-titregrasope" colspan="6"> CONSIGNES</td>
    <td class="tg-titreopegris" colspan="5">MONTANT</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Cashless</td>
    <td class="tg-datapositif" colspan="5">5,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Espèces</td>
    <td class="tg-datapositif" colspan="5">14,00 €</td>
  </tr>
  <tr>
    <td class="tg-titregrasope" colspan="6">TOTAL</td>
    <td class="tg-datapositifgras" colspan="5">19,00 €</td>
  </tr>
    </tbody></table>

      <table class="tg"><thead>
    <br>
  <tr>
    <td class="tg-titregrasope" colspan="6">RETOURS CONSIGNES</td>
    <td class="tg-titreopegris" colspan="5">MONTANT</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Cashless</td>
    <td class="tg-datanegatif" colspan="5">-10,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Espèces</td>
    <td class="tg-datanegatif" colspan="5">-5,00 €</td>
  </tr>
  <tr>
    <td class="tg-titregrasope" colspan="6">TOTAL</td>
    <td class="tg-datanegatifgras" colspan="5">-15,00 €</td>
  </tr>
    </tbody></table>
  <tr>
  </tr>
      <table class="tg"><thead>
    <br>
  <tr>
    <td class="tg-titregrasope" colspan="6">REMBOURSEMENTS</td>
    <td class="tg-titreopegris" colspan="5">MONTANT</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">Espèces</td>
    <td class="tg-datanegatif" colspan="5">-10,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">En ligne</td>
    <td class="tg-datanegatif" colspan="5">-4,00 €</td>
  </tr>
  <tr>
    <td class="tg-titregrasope" colspan="6">TOTAL</td>
    <td class="tg-datanegatifgras" colspan="5">-14,00 €</td>
  </tr>
    <table class="tg"><thead>
    <br>
  <tr>
    <td class="tg-titregrasope" colspan="6">SOLDE DE CAISSE</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">TOTAL ENCAISSEMENTS</td>
    <td class="tg-datapositifbig" colspan="5">130,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope" colspan="6">TOTAL REMBOURSEMENTS</td>
    <td class="tg-datanegatifbig" colspan="5">-29,00 €</td>
  </tr>
  <tr>
    <td class="tg-titregrasope" colspan="6">TOTAL</td>
    <td class="tg-datapositifgrasbig" colspan="5">159,00 €</td>
  </tr>
  </tbody></table>
  <tr>
  <table class="tg"><thead>
  <br>
    <td class="tg-titrelong" colspan="1">DÉTAILS VENTES</td>
  </tr>
  <tr>
    <td class="tg-titreope"></td>
    <td class="tg-orangetitre" colspan="6">QUANTITÉ</td>
    <td class="tg-bleutitre" colspan="8">ACHAT</td>
    <td class="tg-violettitre" colspan="4">VENTE</td>
    <td class="tg-verttitre" colspan="2">TVA</td>
    <td class="tg-jaunetitre" colspan="4">CHIFFRE D'AFFAIRE</td>
    <td class="tg-cyantitre" colspan="2">BÉNÉFICE</td>
    <td class="tg-rosetitre" colspan="4">CHIFFRE D'AFFAIRE CADEAUX</td>
  </tr>
  <tr>
    <td class="tg-titregrisgras">ARTICLES</td>
    <td class="tg-orangegrastitre" colspan="2">VENDUE</td>
    <td class="tg-orangegrastitre" colspan="2">OFFERTE</td>
    <td class="tg-orangegrastitre" colspan="2">TOTALE</td>
    <td class="tg-bleugrastitre" colspan="2">PRIX HT</td>
    <td class="tg-bleugrastitre" colspan="2">COÛT VENDUE</td>
    <td class="tg-bleugrastitre" colspan="2">COÛT OFFERT</td>
    <td class="tg-bleugrastitre" colspan="2">COÛT TOTAL</td>
    <td class="tg-violetgrastitre" colspan="2">PRIX HT</td>
    <td class="tg-violetgrastitre" colspan="2">PRIX TTC</td>
    <td class="tg-vertgrastitre">TAUX</td>
    <td class="tg-vertgrastitre">TOTAL</td>
    <td class="tg-jaunegrastitre" colspan="2">TOTAL HT</td>
    <td class="tg-jaunegrastitre" colspan="2">TOTAL TTC</td>
    <td class="tg-cyangrastitre" colspan="2">BRUT</td>
    <td class="tg-rosegrastitre" colspan="2">TOTAL HT</td>
    <td class="tg-rosegrastitre" colspan="2">TOTAL TTC</td>
  </tr>
  <tr>
    <td class="tg-titreopegrisdlarge" colspan="31">[TVA] ex : 0%</td>
  </tr>
  <tr>
    <td class="tg-titreopegrisdlarge" colspan="31">[CATÉGORIE] ex : Bars Soft</td>
  </tr>
  <tr>
    <td class="tg-titreope">Orangina</td>
    <td class="tg-dataorange" colspan="2">43,00</td>
    <td class="tg-dataorange" colspan="2">2,00</td>
    <td class="tg-dataorange" colspan="2">45,00</td>
    <td class="tg-datableu" colspan="2">0,78 €</td>
    <td class="tg-datableu" colspan="2">33,54 €</td>
    <td class="tg-datableu" colspan="2">1,56 €</td>
    <td class="tg-datableu" colspan="2">35,10 €</td>
    <td class="tg-dataviolet" colspan="2">2,00 €</td>
    <td class="tg-dataviolet" colspan="2">2,00 €</td>
    <td class="tg-datavert">0%</td>
    <td class="tg-datavert">0,00 €</td>
    <td class="tg-datajaune" colspan="2">86,00 €</td>
    <td class="tg-datajaune" colspan="2">86,00 €</td>
    <td class="tg-datacyan" colspan="2">50,90 €</td>
    <td class="tg-datarose" colspan="2">4,00 €</td>
    <td class="tg-datarose" colspan="2">4,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope">Ice Tea</td>
    <td class="tg-dataorange" colspan="2">73,00</td>
    <td class="tg-dataorange" colspan="2">5,00</td>
    <td class="tg-dataorange" colspan="2">78,00</td>
    <td class="tg-datableu" colspan="2">0,40 €</td>
    <td class="tg-datableu" colspan="2">29,20 €</td>
    <td class="tg-datableu" colspan="2">2,00 €</td>
    <td class="tg-datableu" colspan="2">31,20 €</td>
    <td class="tg-dataviolet" colspan="2">2,00 €</td>
    <td class="tg-dataviolet" colspan="2">2,00 €</td>
    <td class="tg-datavert">0%</td>
    <td class="tg-datavert">0,00 €</td>
    <td class="tg-datajaune" colspan="2">146,00 €</td>
    <td class="tg-datajaune" colspan="2">146,00 €</td>
    <td class="tg-datacyan" colspan="2">114,80 €</td>
    <td class="tg-datarose" colspan="2">10,00 €</td>
    <td class="tg-datarose" colspan="2">10,00 €</td>
  </tr>
  <tr>
    <td class="tg-titregrasope">SOUS-TOTAL BRUT*</td>
    <td class="tg-dataorangegras" colspan="2">116,00</td>
    <td class="tg-dataorangegras" colspan="2">7,00</td>
    <td class="tg-dataorangegras" colspan="2">123,00</td>
    <td class="tg-datableugras" colspan="2">-</td>
    <td class="tg-datableugras" colspan="2">62,74 €</td>
    <td class="tg-datableugras" colspan="2">3,56 €</td>
    <td class="tg-datableugras" colspan="2">66,30 €</td>
    <td class="tg-datavioletgras" colspan="2">-</td>
    <td class="tg-datavioletgras" colspan="2">-</td>
    <td class="tg-datavertgras">0%</td>
    <td class="tg-datavertgras">0,00 €</td>
    <td class="tg-datajaunegras" colspan="2">232,00 €</td>
    <td class="tg-datajaunegras" colspan="2">232,00 €</td>
    <td class="tg-datacyangras" colspan="2">165,70 €</td>
    <td class="tg-datarosegras" colspan="2">14,00 €</td>
    <td class="tg-datarosegras" colspan="2">14,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreopegrisdlarge" colspan="31">[TVA] ex : 20%</td>
  </tr>
  <tr>
    <td class="tg-titreopegrisdlarge" colspan="31">[CATÉGORIE] ex : Goodies</td>
  </tr>
  <tr>
    <td class="tg-titreope">T-shirt</td>
    <td class="tg-dataorange" colspan="2">17,00</td>
    <td class="tg-dataorange" colspan="2">2,00</td>
    <td class="tg-dataorange" colspan="2">19,00</td>
    <td class="tg-datableu" colspan="2">11,05 €</td>
    <td class="tg-datableu" colspan="2">187,85 €</td>
    <td class="tg-datableu" colspan="2">22,10 €</td>
    <td class="tg-datableu" colspan="2">209,95 €</td>
    <td class="tg-dataviolet" colspan="2">12,50 €</td>
    <td class="tg-dataviolet" colspan="2">15,00 €</td>
    <td class="tg-datavert">20%</td>
    <td class="tg-datavert">2,50 €</td>
    <td class="tg-datajaune" colspan="2">212,50 €</td>
    <td class="tg-datajaune" colspan="2">255,00 €</td>
    <td class="tg-datacyan" colspan="2">2,55 €</td>
    <td class="tg-datarose" colspan="2">25,00 €</td>
    <td class="tg-datarose" colspan="2">30,00 €</td>
  </tr>
  <tr>
    <td class="tg-titreope">Casquette</td>
    <td class="tg-dataorange" colspan="2">3,00</td>
    <td class="tg-dataorange" colspan="2">0,00</td>
    <td class="tg-dataorange" colspan="2">3,00</td>
    <td class="tg-datableu" colspan="2">12,24 €</td>
    <td class="tg-datableu" colspan="2">36,72 €</td>
    <td class="tg-datableu" colspan="2">0,00 €</td>
    <td class="tg-datableu" colspan="2">36,72 €</td>
    <td class="tg-dataviolet" colspan="2">13,33 €</td>
    <td class="tg-dataviolet" colspan="2">16,00 €</td>
    <td class="tg-datavert">20%</td>
    <td class="tg-datavert">2,67 €</td>
    <td class="tg-datajaune" colspan="2">40,00 €</td>
    <td class="tg-datajaune" colspan="2">48,00 €</td>
    <td class="tg-datacyan" colspan="2">3,28 €</td>
    <td class="tg-datarose" colspan="2">0,00 €</td>
    <td class="tg-datarose" colspan="2">0,00 €</td>
  </tr>
  <tr>
    <td class="tg-titregrasope">SOUS-TOTAL BRUT &nbsp;* </td>
    <td class="tg-dataorangegras" colspan="2">20,00</td>
    <td class="tg-dataorangegras" colspan="2">2,00</td>
    <td class="tg-dataorangegras" colspan="2">22,00</td>
    <td class="tg-datableugras" colspan="2">-</td>
    <td class="tg-datableugras" colspan="2">224,57 €</td>
    <td class="tg-datableugras" colspan="2">22,10 €</td>
    <td class="tg-datableugras" colspan="2">246,67 €</td>
    <td class="tg-datavioletgras" colspan="2">-</td>
    <td class="tg-datavioletgras" colspan="2">-</td>
    <td class="tg-datavertgras">20%</td>
    <td class="tg-datavertgras">5,17 €</td>
    <td class="tg-datajaunegras" colspan="2">252,50 €</td>
    <td class="tg-datajaunegras" colspan="2">303,00 €</td>
    <td class="tg-datacyangras" colspan="2">5,83 €</td>
    <td class="tg-datarosegras" colspan="2">25,00 €</td>
    <td class="tg-datarosegras" colspan="2">30,00 €</td>
  </tr>
  <tr>
    <td class="tg-titregrisgras">TOTAL BRUT (EUR)</td>
    <td class="tg-datagrisgras" colspan="2">136,00</td>
    <td class="tg-datagrisgras" colspan="2">9,00</td>
    <td class="tg-datagrisgras" colspan="2">145,00</td>
    <td class="tg-datagrisgras" colspan="2">-</td>
    <td class="tg-datagrisgras" colspan="2">287,31 €</td>
    <td class="tg-datagrisgras" colspan="2">25,66 €</td>
    <td class="tg-datagrisgras" colspan="2">312,97 €</td>
    <td class="tg-datagrisgras" colspan="2">-</td>
    <td class="tg-datagrisgras" colspan="2">-</td>
    <td class="tg-datagrisgras">-</td>
    <td class="tg-datagrisgras">5,17 €</td>
    <td class="tg-datagrisgras" colspan="2">484,50 €</td>
    <td class="tg-datagrisgras" colspan="2">535,00 €</td>
    <td class="tg-datagrisgras" colspan="2">171,53 €</td>
    <td class="tg-datagrisgras" colspan="2">39,00 €</td>
    <td class="tg-datagrisgras" colspan="2">44,00 €</td>
  </tr>
    </tbody></table>
      <table class="tg"><thead>
  <br>
  <tr>
    <td class="tg-titrespecial" colspan="1">*&nbsp;à déclarer par vos soins comme recette aux impôts</td>
  </tr>
  </tbody></table>
    <table class="tg"><thead>
  <br>
  <tr>
    <th class="tg-smol">Pour aller plus loin :</th>
  </tr>
  <tr>
    <td class="tg-smold" colspan="4">TVA Collectée par taux</td>
  </tr>
  <tr>
    <td class="tg-smold">Taux</td>
    <td class="tg-smold">HT</td>
    <td class="tg-smold">TVA</td>
    <td class="tg-smold">TTC</td>
  </tr>
  <tr>
    <td class="tg-smol">15,00%</td>
    <td class="tg-smol">14,00 € </td>
    <td class="tg-smol">2,10 € </td>
    <td class="tg-smol">16,10 € </td>
  </tr>
  <tr>
    <td class="tg-smol">20,00%</td>
    <td class="tg-smol">19,17 €</td>
    <td class="tg-smol">3,83 €</td>
    <td class="tg-smol">23,00 €</td>
  </tr>
  <tr>
    <td class="tg-smold">TOTAL</td>
    <td class="tg-smold">33,17 € </td>
    <td class="tg-smold">5,93 € </td>
    <td class="tg-smold">39,10 € </td>
  </tr>
</tbody></table>