*{
  font-family: sans-serif;
}

.content {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content thead tr {
  background-color: #1B1464;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content th,
.content td {
  padding: 12px 15px;
}

.content tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content tbody tr:last-of-type {
  border-bottom: 2px solid #1B1464;
}

.content tbody tr.r {
  font-weight: bold;
  color: #1B1464;
}