{% load static %}

<div id="stripe_pos_page">

    <div id="tpe">
        Appareil : {{ terminal.name }}
    </div>

    <div hx-ext="ws" ws-connect="/ws/terminal/{{ payment_intent.payment_intent_stripe_id }}/">
        <div id="notification">
            Status Paiement : {{ payment_intent.status }}
        </div>

        <div id="message">
        </div>
    </div>

    <button id="cancel"
            hx-get="/htmx/payment_intent_tpe/{{ terminal.pk }}/cancel/"
            hx-target="#stripe_pos_page">
        Annuler
    </button>
    <button id="retry"
            hx-get="/htmx/payment_intent_tpe/{{ payment_intent.pk }}/retry/"
            hx-target="#stripe_pos_page">
        Retry
    </button>
</div>
