<!DOCTYPE html>
{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'webview/css/bootstrap.min.css' %}">
    <script src="{% static 'webview/js/htmx@2.0.3.min.js' %}"></script>
    <script src="{% static 'webview/js/htmx-ext-ws@2.0.3.js' %}"></script>
    <title>TPE</title>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .terminal-button {
            margin-bottom: 15px;
            height: 100px;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .amount-input {
            margin-bottom: 20px;
        }
    </style>
    <script src="{% static 'webview/js/htmx@2.0.3.min.js' %}"></script>
    <script src="{% static 'webview/js/htmx-ext-ws@2.0.3.js' %}"></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<div class="container">
    <div id="stripe_pos_page">

    </div>
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h2>Sélection du terminal de paiement</h2>
        </div>
    </div>


    <form hx-post="/htmx/payment_intent_tpe/"
          hx-trigger="click"
          hx-target="#stripe_pos_page"
          hx-swap="innerHTML">

        <div class="row mb-4">
            <div class="col-12">
                <div class="form-group amount-input">
                    <label for="amount">Montant de la recharge (€)</label>
                    <input type="number" class="form-control form-control-lg" name="amount" id="amount" step="0.01"
                           min="0.01" required>
                    <input type="hidden" name='terminal_pk' id="terminal_pk" value="{{ terminal.id }}">
                </div>
            </div>
        </div>

        <div class="row">
            {% if terminal %}
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-body p-0">
                            <button class="btn btn-primary btn-block terminal-button" type="submit">
                                <div class="mb-2">{{ terminal.name }}</div>
                            </button>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12 text-center">
                    <p class="alert alert-warning">Aucun terminal disponible</p>
                </div>
            {% endif %}
        </div>
    </form>
</div>
</body>
</html>
