{% extends "modele00.html" %}
{% load static %}
{% load webviewTags %}

{% block content %}
{% csrf_token %}
<form id="form-accueil" class="vh-100 d-flex flex-column justify-content-center align-items-center" action="/wv/" method="post">
  <input id="type-action" name="type-action" type="hidden" value="valider_carte_maitresse" />
  <input id="tag-id-cm" name="tag-id-cm" type="hidden" />
</form>
{% endblock content %}

{% block script %}
  <script>window.version = '{{ version }}';</script>
  <script src="{% static 'webview/js/socket.io.3.0.4.js' %}"></script>
  <script src="{% static 'webview/js/big.js' %}"></script>
  {% if demo %}
    <script>
      window.DEMO = {
        demoVirtualKeyboardActive: true,
        demoTagIdCm: '{{ demoTagIdCm }}',
        demoTagIdClient1: '{{ demoTagIdClient1 }}',
        demoTagIdClient2: '{{ demoTagIdClient2 }}',
        demoTagIdTempsReponse: {{ demoTagIdTempsReponse }}
      }
    </script>
    <script src="{% static 'webview/js/modeNfc_demo.js' %}?{{ version }}"></script>
  {% else %}
    <script src="{% static 'webview/js/lecteur_nfc.js' %}?{{ version }}"></script>
    <script src="{% static 'webview/js/actions_boutons.js' %}?{{ version }}"></script>
  {% endif %}
  <script type="module" src="{% static 'webview/js/accueil.js' %}?{{ version }}"></script>
{% endblock script %}
