{% load i18n %}
{% load webviewTags %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}

<div id="popup-cashless" style="background-color:{{ background }};" class="BF-col-uniforme popup-cashless-conteneur">

    {% if error_msg %}
        <div class="BF-col check-carte-inconnue l100p test-return-msg-content"
             style="white-space: pre-line; text-align: center;">
            {{ error_msg }}
        </div>
    {% else %}
        <div class="BF-col-uniforme check-carte-ok">
            {% if serializer_from_fedow.is_wallet_ephemere %}
                <div class="check-carte-ok-total-carte test-return-total-card">
                    <span>{% trans "Carte anonyme" %}</span>
                </div>
            {% else %}
                <div class="check-carte-ok-total-carte test-return-total-card">
                    <span>{% trans "Carte fédérée" %}</span>
                </div>
            {% endif %}
        </div>

        <div class="containe" style="font-size: 1.2em">
            <div>
                <p class="popup-row-header">
                    <span>{% trans "Tirelire" %}</span>
                    <span class="popup-total-value check-carte-ok-total-carte test-return-total-card"
                          title="total">{{ total_monnaie }}</span>
                </p>

                {% for token in tokens_cashless %}
                    <p class="popup-row">
                        <span class="popup-row-value">{{ token.value | dec2 }}</span>
                        <span class="popup-row-name">
                        {{ token.name }}
                    </span>
                        <span class="popup-row-origin" title="{% trans "Provenance" %}">
                        {{ token.asset.place_origin.name }}
                    </span>
                    </p>
                {% endfor %}
            </div>

            {% if tokens_membership %}
                <div style="margin-top: 1em;">
                    <p class="popup-row-header">
                        <span>{% trans "Adhésions" %}</span>

                        <span class="popup-total-value check-carte-ok-total-carte test-return-total-card">
                        <span>{{ tokens_membership | length }}</span>
                    </span>
                    </p>
                    {% for token in tokens_membership %}
                        <p class="popup-row membership-row">
                            <span class="popup-row-name">{{ token.name }}</span>
                            <span class="popup-row-start" title="{% trans "Activation" %}">
                        {{ token.start_membership_date | naturalday }}
                    </span>
                            <span class="popup-row-origin" title="{% trans "Provenance" %}">
                        {{ token.asset.place_origin.name }}
                    </span>
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="popup-conteneur-bt-retour BF-col" style="margin: 10px 0;">
        {% include "elements/bouton_return.html" %}
    </div>

</div>
